body {
    margin: 100px;
    background: #eee;
    color: #222;
}

td {
    border: 1px solid #aaa;
    padding: 10px;
    vertical-align: top;
}

.value {
    width: 100px;
    text-align: right;
    border: 0px;
    background: #ccc;
}

.resistor-table {
    display: none;
}


